.showCard {
    width: 800px;
    margin: auto;
}

.inputForm {
    width: 38em;
}

.formGroup {
    display: inline-block;
    width: 18em;
}

.showRowTitle {
    margin-right: 10px;
}

.showRowParam {
    font-weight: 500;
}
